<!DOCTYPE html>
<html>
<head>
    <title>Mauszeichnung</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<style>
    .button_lo1{
        position: relative;
        top: 30px;
        left: 80px;
    }
    .button_lo2{
        position: relative;
        top: 100px;
        left: 80px;
    }
    .output_lo{
        position: relative;
        top: 80px;
        left: 80px;
    }
    .canvas_lo{
        position: relative;
        left: 80px;
        top: 60px;
        /* Füge hier das Hintergrundbild ein 
        background-image: url(C:\Users\tvogt\OneDrive\Dokumente\GitHub\Master-Project\Flask\templates\canvas_background1.png);*/
        background-image: url("/static/images/canvas_background1.png");
        /* Optional: Passe die Größe und Wiederholung des Hintergrundbilds an */
        background-size: contain;
        background-repeat: no-repeat;
    }

    .image-container{
        display: none; /* Hide the container by default */
        position: absolute;
        top: 110px;
        right: 70px; /* Adjust the left position as needed */
    }

    .nav_lo{
        font-size: 30px;
    }

    /* Setze die Farbe für die verfolgten Buchstaben */
    .tracked-letter {
        color: green;
    }

</style>
<body>
    <nav class="navbar bg-body-tertiary nav_lo">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Font Creater</a>
        </div>
    </nav>

    <form class="input-group mb-3 button_lo1" method="POST">
        <input type="text" id="font-name-input" class="form-control" placeholder="Font Name" aria-label="Font Name" aria-describedby="button-addon2" oninput="fetchTrackedLetters()">
        <input type="text" id="letter-input" class="letter-input" placeholder="Letter" data-points="[]" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="saveCoordinates()">Save</button>
        <button class="btn btn-outline-secondary" type="button" id="button-addon3" onclick="eraseCanvas()">Erase</button>
    </form>
    
    <div class="canvas-container canvas_lo">
        <h3>Schreibe hier in dieses Feld mit der Maus den Buchstaben hinein</h3>
        <canvas id="canvas" width="580" height="290" style="border: 1px solid black;"></canvas>
    </div>

    <div class="image-container" id="plot-container">
        <img id="font_plot" src="/static/images/Test_plot.png" alt="Plot" width="500" height="500">
    </div>

    <!-- Display the tracked letters in a text field -->
    <div class="mb-3 output_lo">
        <h3>Bereits hinzugefügte Buchstaben</h3>
        <div id="tracked-letters"></div>
        <!-- Add the "Kontrolliere" button here -->
        <button class="btn btn-primary" id="kontrolliereBtn" style="display: none;" onclick="checkLetters()">Kontrolliere</button>
    </div>
    
    

<script>
    let canvas = document.getElementById('canvas');
    let ctx = canvas.getContext('2d');
    let isDrawing = false;
    let lastX = 0;
    let lastY = 0;
    let points = [];

    canvas.addEventListener('mousedown', (e) => {
        isDrawing = true;
        lastX = e.offsetX;
        lastY = e.offsetY;
        points.push({ x: lastX, y: lastY, isNewLine: true }); // isNewLine für den Punkt setzen
    });

    canvas.addEventListener('mousemove', (e) => {
        if (!isDrawing) return;

        drawLetter(e.offsetX, e.offsetY);
        lastX = e.offsetX;
        lastY = e.offsetY;
        points.push({ x: lastX, y: lastY, isNewLine: false }); // isNewLine für den Punkt setzen
        });

    canvas.addEventListener('mouseup', () => {
        isDrawing = false;
    });

    function drawLetter(x, y) {
        ctx.beginPath();
        ctx.moveTo(lastX, lastY);
        ctx.lineTo(x, y);
        ctx.stroke();
    }

    function saveCoordinates() {
        let letterInput = document.querySelector('.letter-input');
        let letter = letterInput.value;

        // Lese den Tabellennamen aus dem Eingabefeld aus
        fontNameInput = document.getElementById('font-name-input');
        let fontName = fontNameInput.value;

        console.log(fontName); // Überprüfe, ob der Tabellenname korrekt ist
        console.log(letter); // Überprüfe, ob der Buchstabe korrekt ist
        console.log(points); // Überprüfe, ob die Koordinaten korrekt sind

        let newLine = isDrawing;

        fetch('/save', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ font_name: fontName, letter: letter, points: points, new_line: newLine })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            // Nachdem die Daten gespeichert wurden, rufe fetchTrackedLetters auf
            fetchTrackedLetters();
        })
        .catch(error => console.error('Error saving coordinates:', error));


        // Zurücksetzen der Punkte nach dem Speichern
        points = [];
        ctx.clearRect(0, 0, canvas.width, canvas.height);
    }

    function eraseCanvas() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        // Zurücksetzen der Punkte ohne den Buchstaben zu speichern
        points = [];
    }

    function fetchTrackedLetters() {
        let fontNameInput = document.getElementById('font-name-input').value;
        fetch(`/tracked_letters?font_name=${fontNameInput}`)
            .then(response => response.json())
            .then(data => {
                let trackedLettersDiv = document.getElementById('tracked-letters');
                let trackedLetters = data;
                console.log(trackedLetters);

                let outputText = '';
                let foundAll = true;

                let asciiList = [];
                for (let i = 33; i <= 35; i++) {
                    asciiList.push(i);
                }
                asciiList.push(37);
                asciiList.push(38);
                for (let i = 40; i <= 41; i++) {
                    asciiList.push(i);
                }
                for (let i = 43; i <= 59; i++) {
                    asciiList.push(i);
                }
                for (let i = 63; i <= 90; i++) {
                    asciiList.push(i);
                }
                asciiList.push(95);
                for (let i = 97; i <= 122; i++) {
                    asciiList.push(i);
                }
                // asciiList.push(128); //€
                asciiList.push(196);
                asciiList.push(214);
                asciiList.push(220);
                asciiList.push(223);
                asciiList.push(228);
                asciiList.push(246);
                asciiList.push(252);


                for (let num of asciiList) {
                    let letter = String.fromCharCode(num);
                    if (trackedLetters.includes(letter)) {
                        outputText += `<span class="tracked-letter">${letter}</span>`;
                        console.log("Found");
                    } else {
                        outputText += `<span>${letter}</span>`;
                        foundAll = false;
                    }
                }
                let finish = foundAll ? " Alle Buchstaben wurden hinzugefügt!" : "";
                trackedLettersDiv.innerHTML = outputText + "<br>" + finish;

                // Show or hide the plot container based on "foundAll" value
                if (foundAll) {
                    document.getElementById('plot-container').style.display = 'block';

                    // Update the image src with the font_name
                    let fontPlot = document.getElementById('font_plot'); // Update the ID to 'font_plot'
                    fontPlot.src = `/static/images/${fontNameInput}_plot.png`;
                    fontPlot.alt = fontNameInput;

                    // Show the "Kontrolliere" button when all letters are added
                    document.getElementById('kontrolliereBtn').style.display = 'block';
                } else {
                    document.getElementById('plot-container').style.display = 'none';

                    // Hide the "Kontrolliere" button when not all letters are added
                    document.getElementById('kontrolliereBtn').style.display = 'none';
                }
            })
            .catch(error => console.error('Error fetching tracked letters:', error));
    }


</script>
</body>
</html>